name: Android CI

on:
  workflow_dispatch:
  push:
    branches:
      - 'dev'
  pull_request:
    branches:
      - 'dev'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
        
      - name: Build library release and app debug
        run: |
          ./gradlew :robok-gui:assembleRelease
          ./gradlew :app:assembleDebug

      - name: Upload release library
        uses: actions/upload-artifact@v4
        with:
          name: library
          path: robok-gui-lang/build/outputs/aar/

      - name: Upload debug app
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app/build/outputs/apk/debug/